@use "sass:math";
@use "sass:meta";

// Viewport defaults
$min-vw-default: 800;
$base-vw-default: 1440;
$max-vw-default: 1920;

// Strip unit helper
@function _strip-unit($value) {
  @if meta.type-of($value) == "number" and not math.is-unitless($value) {
    @return math.div($value, ($value * 0 + 1));
  }
  @return $value;
}

/**
 * fluid-font-3point()
 * Broken-slope fluid type with an exact lock at $base-vw (1440px)
 *
 * @param $min-size  - Size at min viewport
 * @param $base-size - Size at base viewport (exact)
 * @param $max-size  - Size at max viewport
 */
@function fluid-font(
  $min-size,
  $base-size,
  $max-size,
  $min-vw: $min-vw-default,
  $base-vw: $base-vw-default,
  $max-vw: $max-vw-default
) {
  $min: _strip-unit($min-size);
  $base: _strip-unit($base-size);
  $max: _strip-unit($max-size);

  $minVW: _strip-unit($min-vw);
  $baseVW: _strip-unit($base-vw);
  $maxVW: _strip-unit($max-vw);

  // Slopes
  $slope1: (math.div($base - $min, $baseVW - $minVW)) * 100;
  $slope2: (math.div($max - $base, $maxVW - $baseVW)) * 100;

  // Intercepts
  $intercept1: $min - (math.div($slope1, 100) * $minVW);
  $intercept2: $base - (math.div($slope2, 100) * $baseVW);

  @return clamp(
    #{$min-size},
    max(
      calc(#{$intercept1}px + #{$slope1}vw),
      min(
        calc(#{$intercept2}px + #{$slope2}vw),
        #{$max-size}
      )
    ),
    #{$max-size}
  );
}


@mixin type($family, $base-size, $min-size, $max-size, $weight, $line, $spacing: 0) {

    font-family: $family;
    font-size: fluid-font($min-size, $base-size, $max-size);
    font-weight: $weight;
    font-style: normal;
    line-height: $line;
    letter-spacing: $spacing;
}

@mixin h1 {
  @include type('PPNeueMontreal-Medium', 100px, 80px, 140px, 500, 100%);
}

h1,.h1 {
    @include type('PPNeueMontreal-Medium', 100px, 80px, 140px, 500, 100%);
}

@mixin h2 {
  @include type('PPNeueMontreal-Medium', 60px, 40px, 80px, 500, 100%);
}

h2,.h2 {
  
  @include type('PPNeueMontreal-Medium', 60px, 40px, 80px, 500, 100%);
}

@mixin h3 {
  @include type('PPNeueMontreal-Regular', 60px, 40px, 80px, 400, 100%);
}

h3, .h3 {
  @include type('PPNeueMontreal-Regular', 60px, 40px, 80px, 400, 100%);
}

@mixin p {
  @include type('PPNeueMontreal-Regular', 20px, 16px, 24px, 400, 100%);
}

p, .p {
  @include type('PPNeueMontreal-Regular', 20px, 20px, 20px, 400, 150%);
}

.p-big {
  @include type('PPNeueMontreal-Regular', 30px, 30px, 30px, 400, 150%);
}

.p-small {
  @include type('PPNeueMontreal-Regular', 16px, 16px, 16px, 400, 150%);
}

.p-icon {
  @include type('PPNeueMontreal-Regular', 20px, 20px, 20px, 400, 100%);
}

caption, 
.caption {
  @include type('PPNeueMontreal-Regular', 12px, 12px, 12px, 400, 100%);
}

.mono-emphasized {
  @include type('PPNeueMachina-InktrapRegular', 22px, 22px, 22px, 300, 115%, 0);
}

.mono-big {
  @include type('PPNeueMachina-InktrapRegular', 30px, 30px, 30px, 400, 120%, 2%);
}

.mono-small {
  @include type('PPNeueMachina-InktrapRegular', 20px, 20px, 20px, 400, 120%, 2%);
}

.mono {
  @include type('PPNeueMachina-InktrapRegular', 20px, 16px, 24px, 400, 120%, 2%);
}


button, .button,.cta {
  text-transform: uppercase;
  cursor: pointer;
  @include type('PPNeueMachina-InktrapRegular', 12px, 12px, 12px, 400, 100%, 2%);

}